body {
  width: 384px;
  height: 520px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--nb-bg, #f6f3f1);
  color: var(--nb-text, #242425);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
